body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
	display: grid;
}
.name {
	font: 1.2em sans-serif;
	display:inline;
	padding: 10px;
}
.company {
	font: 0.7em sans-serif;
	display:inline;
	padding: 10px;
}
.photo {
	display:inline-flex;
}
.title {
	font: 1.2em sans-serif;
	font-weight: bold;
	text-align: center;
}